body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(164, 229, 169);

}



h1 {
    color: #333;
    
}

label{
    display: block;
    margin-top: 10px;
}

.start-button {
    margin-top: 20px;
}

.login-button {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 1;
    
    margin-left: 20px;
    margin-bottom: 20px;
    
    
}

.game-settings {
    margin-bottom: 20px;
}

.game-container {
    display: grid;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(6, 50px);

}

.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    border: 1px solid #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerB, .playerW {
    background-size: 100% 100%; /* Isso fará com que a imagem ocupe 100% da largura e altura do tile */
}

.game-info {
    display: none;
    margin-top: 20px;
}

.game-info.active {
    display: block;
}